<div *ngIf="currentTable">
  <input [(ngModel)]="tableItemsLength" (keyup)="onKey(tableItemsLength)">
  <table>
    <thead>
      <tr>
        <th (click)="changeSorting('id')">
          Id
        </th>
        <th (click)="changeSorting('title')">
          Title
        </th>
        <th (click)="changeSorting('body')">
          Body
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of currentTable">
        <th>
          {{item.id}}
        </th>
        <th>
          {{item.title}}
        </th>
        <th>
          {{item.body}}
        </th>
      </tr>
    </tbody>
  </table>
</div>

<ul class="menu">
  <li *ngFor="let page of tablePageList">
    <a [routerLink]="['/resource-list/', page.index]" routerLinkActive="active"><i class="mdi mdi-thumb-up"></i>{{page.index}}</a>
  </li>

</ul>